header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}

// BODY STARTS HERE //

// HEADER STARTS HERE //

// NAVIGATION STARTS HERE //

// MAIN STARTS HERE //

div.fruitGallery figure {
flex-basis: 21%;
}

// FOOTER STARTS HERE //

