$menuColor: #B8D9A9;
$navColor: #264022;
$navColorActive: #f2b705;
$primaryColor: #db0000;
$secondaryColor: #264022;
$fontColor: #333;

$defaultFont: 'Nunito', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;

$gutter: 16px;


